.contact {
    padding: 30px 15px;
    margin-top: 7rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .contact__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact__info,
  .contact__form-wrapper {
    flex: 1 1 500px;
  }
  
  .contact__subtitle {
    color: #006d3c;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact__title {
    color: #024c31;
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .contact__description {
    color: #555;
    margin-bottom: 25px;
  }
  
  .contact__card {
    display: flex;
    background-color: #faf7f0;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #ccc;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;
    gap: 10px;
  }
  
  .contact__icon {
    font-size: 24px;
    display: flex;
  }

  .contact__icon img{
    width: 2em;
  }
  
  .contact__form-instruction {
    margin-bottom: 2em;
    font-weight: bold;
  }
  
  .contact__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1 1 100%;
  }
  
  .contact__form-group--half {
    flex: 1 1 calc(50% - 7.5px); /* 50% with spacing for two fields side by side */
  }
  
  .contact__form-group label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .contact__form-group input,
  .contact__form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Highlight on focus */
  .contact__form-group input:focus,
  .contact__form-group textarea:focus {
    border-color: #00912c;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 145, 44, 0.2);
  }
  
  .contact__form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .contact__submit {
    background-color: #00912c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact__submit:hover {
    background-color: #007e25;
  }

  .contact__details a{
    text-decoration: none;
    color: #000;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .contact__form-row {
      flex-direction: column;
    }
  
    .contact__form-group--half {
      flex: 1 1 100%;
    }
  }
  