.icon-scroll {
    overflow: hidden;
    height: 5em;
    display: flex;
    justify-content: center;
    margin: 1em;
    border-radius: 5em;
    border: 1px solid red;
}

.icon-scroll__wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.icon-scroll__container {
    display: flex;
    gap: 1em;
    height: 100%;
    transition: transform 0.1s linear;
    will-change: transform;
}

.icon-scroll__item {
    flex: 0 0 auto;
    height: 5em;
    padding: 0 2em;
    border-radius: 10px;
    overflow: hidden;
}

.icon-scroll__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
